# ¿Entre que puntajes está el 53% de las calificaciones de revisión más bajas de la plataforma?

## Cargar librerias

In [3]:
#importar librerias o archivos
#Libreria para el comando del sistema
import os 
#import openpyxl
#libreria para el manejo de datos como lo es pandas
import pandas as pd
import numpy as np

## Importar archivos

In [5]:
#Importar archivos
data=pd.read_excel("datos_airbnbn.xlsx")
data.head(5)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20210409161549,2021-04-12,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi<br />...,"Indische Buurt (""Indies Neighborhood"") is a ne...",https://a0.muscache.com/pictures/10272854/8dcc...,3159,https://www.airbnb.com/users/show/3159,...,10.0,9.0,10.0,NaN,t,1,0,1,0,1.90
1,20168,https://www.airbnb.com/rooms/20168,20210409161549,2021-04-12,Studio with private bathroom in the centre 1,17th century Dutch townhouse in the heart of t...,Located just in between famous central canals....,https://a0.muscache.com/pictures/69979628/fd6a...,59484,https://www.airbnb.com/users/show/59484,...,10.0,10.0,9.0,0363 CBB3 2C10 0C2A 1E29,t,2,0,2,0,2.50
2,25428,https://www.airbnb.com/rooms/25428,20210409161549,2021-04-11,"Lovely, 1 bed apt in Ctr (w.lift) -3/20-6/20(f...",Lovely apt in Centre ( lift & fireplace) near ...,NaN,https://a0.muscache.com/pictures/138431/7079a9...,56142,https://www.airbnb.com/users/show/56142,...,10.0,10.0,10.0,NaN,f,2,2,0,0,0.13
3,27886,https://www.airbnb.com/rooms/27886,20210409161549,2021-04-11,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,"Central, quiet, safe, clean and beautiful.",https://a0.muscache.com/pictures/02c2da9d-660e...,97647,https://www.airbnb.com/users/show/97647,...,10.0,10.0,10.0,0363 974D 4986 7411 88D8,t,1,0,1,0,1.94
4,28871,https://www.airbnb.com/rooms/28871,20210409161549,2021-04-13,Comfortable double room,<b>The space</b><br />In a monumental house ri...,"Flower market , Leidseplein , Rembrantsplein",https://a0.muscache.com/pictures/160889/362340...,124245,https://www.airbnb.com/users/show/124245,...,10.0,10.0,10.0,0363 607B EA74 0BD8 2F6F,f,2,0,2,0,2.59

In [6]:
print(data.dtypes)

id                                                       int64
listing_url                                             object
scrape_id                                                int64
last_scraped                                    datetime64[ns]
name                                                    object
                                                     ...
calculated_host_listings_count                           int64
calculated_host_listings_count_entire_homes              int64
calculated_host_listings_count_private_rooms             int64
calculated_host_listings_count_shared_rooms              int64
reviews_per_month                                      float64
Length: 74, dtype: object

In [7]:
data["review_scores_rating"]

0         98.0
1         89.0
2        100.0
3         99.0
4         97.0
         ...
17820      NaN
17821      NaN
17822      NaN
17823      NaN
17824      NaN
Name: review_scores_rating, Length: 17825, dtype: float64

## Contar valores nulos

In [9]:
#contar valores nulos
data["review_scores_rating"].isna().sum()

2638

## Crear tablas de frecuencia absoluta y relativa

In [11]:
print(data["review_scores_rating"].unique())  # Valores únicos

[ 98.  89. 100.  99.  97.  95.  96.  80.  93.  92.  91.  nan  94.  85.
  86.  90.  72.  88.  84.  87.  83.  77.  81.  75.  82.  70.  60.  65.
  67.  40.  73.  20.  76.  71.  74.  78.  66.  32.  56.  50.  64.  79.
  68.  47.  69.  57.  63.  53.  48.]

In [12]:
# Eliminar valores nulos
data_limpia_rating= data.dropna(subset=["review_scores_rating"])

# 1. Obtener los conteos
conteos = data_limpia_rating["review_scores_rating"].value_counts()

# 2. Convertir a DataFrame y renombrar columnas
frec_data = conteos.reset_index()
frec_data.columns = ['valor_rating', 'frecuencia_absoluta']  # Nombres exactos

# 3. Ordenar por frecuencia
frec_data = frec_data.sort_values('frecuencia_absoluta', ascending=False)

# Mostrar resultados
frec_data.head(5)

   valor_rating  frecuencia_absoluta
0         100.0                 4582
1          98.0                 1557
2          97.0                 1274
3          96.0                 1162
4          95.0                  956

In [13]:
data_limpia_rating["review_scores_rating"].isna().sum()#volver a contar valores nulos

0

In [14]:
rango=data_limpia_rating["review_scores_rating"].max()-data["review_scores_rating"].min()
print(f"Minimo es: {data_limpia_rating["review_scores_rating"].min()},El maximo es: {data_limpia_rating["review_scores_rating"].max()} El rango es: {rango}")

Minimo es: 20.0,El maximo es: 100.0 El rango es: 80.0

In [15]:
num_intervalos=14
ancho_intervalo=6

In [16]:
print(frec_data["frecuencia_absoluta"].sum())
print(data["review_scores_rating"].value_counts().sum())

15187
15187

In [17]:
#Crear intervalos
min_val = data_limpia_rating["review_scores_rating"].min()
max_val = data_limpia_rating["review_scores_rating"].max()
print(min_val)
print(max_val)
bins = np.arange(start=min_val-.5, stop=max_val+6, step=6)
intervalos = pd.cut(data["review_scores_rating"], bins=bins, precision=0)
print(bins)

20.0
100.0
[ 19.5  25.5  31.5  37.5  43.5  49.5  55.5  61.5  67.5  73.5  79.5  85.5
  91.5  97.5 103.5]

In [18]:
#Crear tabla de frecuencias (sin sobreescribir frec_data)
tbl_frecuencias = pd.Series(intervalos).value_counts( sort=False).reset_index()
print(tbl_frecuencias)
print(tbl_frecuencias["count"].sum())

   review_scores_rating  count
0          (20.0, 26.0]     24
1          (26.0, 32.0]      0
2          (32.0, 38.0]      1
3          (38.0, 44.0]     22
4          (44.0, 50.0]      2
5          (50.0, 56.0]      8
6          (56.0, 62.0]     96
7          (62.0, 68.0]     27
8          (68.0, 74.0]     78
9          (74.0, 80.0]     57
10         (80.0, 86.0]    746
11         (86.0, 92.0]   1735
12         (92.0, 98.0]   5321
13        (98.0, 104.0]   7070
15187

In [19]:
#Renombrar columnas para claridad
tbl_frecuencias.columns = ["intervalo", "frecuencia"]
tbl_frecuencias["frecuencia_relativa"]=tbl_frecuencias["frecuencia"].apply(lambda x: (x/tbl_frecuencias["frecuencia"].sum())*100)
tbl_frecuencias["frecuencia_acumulada"]=tbl_frecuencias["frecuencia"].cumsum()
tbl_frecuencias["frecuencia_acumulada_relativa"]=tbl_frecuencias["frecuencia_relativa"].cumsum()
#Mostrar resultado
tbl_frecuencias

,intervalo,frecuencia,frecuencia_relativa,frecuencia_acumulada,frecuencia_acumulada_relativa
0,"(20.0, 26.0]",24,0.158030,24,0.158030
1,"(26.0, 32.0]",0,0.000000,24,0.158030
2,"(32.0, 38.0]",1,0.006585,25,0.164614
3,"(38.0, 44.0]",22,0.144861,47,0.309475
4,"(44.0, 50.0]",2,0.013169,49,0.322644
5,"(50.0, 56.0]",8,0.052677,57,0.375321
6,"(56.0, 62.0]",96,0.632120,153,1.007441
7,"(62.0, 68.0]",27,0.177784,180,1.185224
8,"(68.0, 74.0]",78,0.513597,258,1.698821
9,"(74.0, 80.0]",57,0.375321,315,2.074142
10,"(80.0, 86.0]",746,4.912096,1061,6.986238
11,"(86.0, 92.0]",1735,11.424244,2796,18.410483
12,"(92.0, 98.0]",5321,35.036544,8117,53.447027
13,"(98.0, 104.0]",7070,46.552973,15187,100.000000

In [20]:
tbl_frecuencias["frecuencia"].sum()

15187

# ¿Cuál es el precio promedio de alquiler de un inmueble qué se situé por encima del 78%?

In [22]:
data["price"].describe()

count    17825.000000
mean       154.495877
std        154.162566
min          0.000000
25%         95.000000
50%        129.000000
75%        180.000000
max       8000.000000
Name: price, dtype: float64

In [23]:
data["price"] = pd.to_numeric(data["price"], errors='coerce')

In [24]:
data["price"].isna().sum()

0

In [25]:
data_filtrada_price = data[(data["price"].notna()) & (data["price"] != 0)]
data_filtrada_price["price"].describe()

count    17809.000000
mean       154.634679
std        154.162204
min          4.000000
25%         95.000000
50%        129.000000
75%        180.000000
max       8000.000000
Name: price, dtype: float64

In [26]:
percentiles_price = data_filtrada_price["price"].quantile(np.arange(0.01, 1.01, 0.01))  # 0.01 a 1.0 (1% a 100%)
percentiles_price

0.01      33.00
0.02      40.00
0.03      48.00
0.04      50.00
0.05      55.00
         ...
0.96     350.00
0.97     394.04
0.98     447.84
0.99     524.92
1.00    8000.00
Name: price, Length: 100, dtype: float64

In [27]:
tbl_percentiles_price = (
    pd.DataFrame(percentiles_price)
    .reset_index()
    .rename(columns={'index': 'percentil', 'price': 'valor'})
    .round(2))  # Redondear a 2 decimales
tbl_percentiles_price

    percentil    valor
0        0.01    33.00
1        0.02    40.00
2        0.03    48.00
3        0.04    50.00
4        0.05    55.00
..        ...      ...
95       0.96   350.00
96       0.97   394.04
97       0.98   447.84
98       0.99   524.92
99       1.00  8000.00

[100 rows x 2 columns]

In [28]:
tbl_percentiles_price.to_csv("tbl_percentiles_price.csv", index=False)

In [29]:

print(data_filtrada_price["price"].quantile([0.78]))

0.78    195.0
Name: price, dtype: float64

In [30]:
data_filtrada_price_78=data_filtrada_price.query("price >195")
data_filtrada_price_78["price"].describe()

count    3866.000000
mean      300.760217
std       277.124085
min       196.000000
25%       213.000000
50%       250.000000
75%       300.000000
max      8000.000000
Name: price, dtype: float64

In [31]:
print(data_filtrada_price["price"].quantile([0.50]))

0.5    129.0
Name: price, dtype: float64

In [32]:
data_filtrada_price_50=data_filtrada_price.query("price <154.634679")
data_filtrada_price_50["price"].describe()

count    11772.000000
mean       103.114594
std         31.295890
min          4.000000
25%         80.000000
50%        100.000000
75%        128.000000
max        154.000000
Name: price, dtype: float64

In [33]:
total_price=data_filtrada_price["price"].value_counts().sum()
total_menor_promedio=data_filtrada_price_50["price"].value_counts().sum()
print(total_price,total_menor_promedio)

17809 11772

In [34]:
porcentaje_menor_mean=((total_menor_promedio/total_price)*100).round(1)
porcentaje_menor_mean

66.1

In [35]:
mean_price=data_filtrada_price["price"].mean()
std_price=data_filtrada_price["price"].std()
print(mean_price,std_price)

154.6346790948397 154.16220360132084

In [72]:
suma1=mean_price+std_price
suma2=mean_price+100
print(suma1,suma2)

308.79688269616054 254.6346790948397